
.myClass{
    /* width: 200px;
    height: 200px;
    background-color: green;
    transition: .5s; */
}

.myClass:hover{
    /* transform: translate(100px); */

    /* transform: rotate(5000deg); */

    /* transform: scaleY(1.2); */
    /* transform: skewY(-20deg); */
}

/* .myImg{
    width: 200px;
    height: 200px;
    transition: 1s;
}

.myImg:hover{
    transform: rotate(30deg);
} */


*{
    margin: 0;
    padding: 0;
}

.banner{
    position: relative;
    background-image:  linear-gradient(to left, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../images/eye.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    color: white;
    height: 100vh;
}

.banner-content{
    position: absolute;
    width: 400px;
    text-align: center;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}